@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');


$maxWidth: 800px;

$bg: #121212;
$dark1: #bbbbbb;
$dark2: #7d7d7d;