@import "styles";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  & > nav {
    flex-shrink: 0;
  }

  .main {
    flex-grow: 1;

    overflow-y: auto;
    padding-bottom: 32px;

    .mainContainer {
      margin: 0 auto;
      max-width: $maxWidth;
    }
  }

  & > footer {
    flex-shrink: 0;
  }
}

// .mainPreview {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;

//   video {
//     width: 500px;
//     margin-bottom: 32px;
//   }

//   h1 {
//     font-size: 3rem;
//     margin-bottom: 12px;
//   }

//   p {
//     color: $dark1;
//   }
// }
