@import "styles";

.container {
  position: relative;

  width: 100%;

  box-sizing: border-box;
  border: 1px solid darken($dark1, 40%);
  padding: 10px 10px;

  display: flex;
  align-items: center;

  &:focus-within {
    border: 1px solid $dark1;

    & > span {
      color: white;
    }
  }

  & > span {
    font-size: 1.25rem;
    color: darken($dark1, 40%);
    width: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 100%;
    height: 24px;
    margin-left: 6px;

    background: none;
    outline: none;
    border: none;

    color: white;
  }

  .choices {
    position: absolute;
    bottom: 100%;
    left: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    padding-left: 0;

    border: 1px solid $dark1;

    max-height: 200px;
    overflow: scroll;

    & > li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      list-style-type: none;
      padding: 0;
      margin: 0;

      background-color: $bg;
      border-bottom: 1px solid $dark1;

      & > img {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        object-fit: cover;
        object-position: center;

        border-right: 1px solid $dark1;
      }

      & > p {
        font-size: 0.85rem;
        color: rgba(white, 60%);

        & > mark {
          background: none;
          color: white;
        }
      }

      &:hover {
        cursor: pointer;
        user-select: none;

        background-color: lighten($bg, 5%);

        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;

  height: 48px;
  margin-top: 16px;

  & > button:first-child {
    margin-right: auto;
  }

  & > button {
    padding: 12px 28px;

    border: 1px solid darken($dark1, 40%);
    background-color: rgba(white, 5%);

    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    color: white;

    &:hover:enabled,
    &:active:enabled {
      cursor: pointer;
      user-select: none;

      border: 1px solid $dark1;
      background-color: rgba(white, 10%);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 60%;
    }

    &.submit {
      border: 1px solid rgba(green, 40%);
      background-color: rgba(green, 5%);

      &:hover:enabled,
      &:active:enabled {
        border: 1px solid green;
        background-color: rgba(green, 25%);
      }
    }
  }
}

.spinner {
  width: 16px;
  height: 16px;
  background-color: white;

  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
