@import "styles";

.container {
  width: 100%;

  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;

  table {
    width: 100%;

    td,
    th {
      padding: 12px;
    }

    & > thead > tr {
      th {
        text-align: left;
      }
    }

    & > tbody > tr {
      & > td:first-child {
        width: 40px;
        height: 40px;

        & > p {
          width: inherit;
          height: inherit;

          background-color: rgba(white, 15%);
          border: 1px solid $dark1;

          text-align: center;
          line-height: 40px;
        }

        &.correct > p {
          background-color: rgba(green, 25%);
          border: 1px solid green;
          color: white;
        }
      }

      .below,
      .above,
      .incorrect {
        color: orange;
      }

      .below::after {
        content: "↓";
      }

      .above::after {
        content: "↑";
      }

      .correct {
        color: limegreen;
      }

      .none {
        color: rgba(white, 60%);
      }

      .marquee {
        color: white;
        white-space: nowrap;
        overflow: hidden;

        & > p {
          display: inline-block;
          margin: 0;
          padding-left: 100%;
          animation: marquee 5s linear infinite;
        }

        @keyframes marquee {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(-100%, 0);
          }
        }
      }
    }
  }
}
