@import "styles";

.container {
  z-index: 100;

  position: fixed;
  bottom: 0;
  left: 0;

  background-color: $bg;

  width: 100%;

  border-top: 1px solid $dark1;
  padding: 24px 0 24px 0;

  .containerInner {
    margin: 0 auto;
    max-width: $maxWidth;
  }
}

.containerWin {
  background-color: rgba(green, 10%);
  height: 161px;

  box-sizing: border-box;
  text-align: center;

  p {
    color: $dark1;

    bold {
      color: white;
    }

    a {
      color: white;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

.containerLose {
  background-color: rgba(red, 10%);
  height: 161px;

  box-sizing: border-box;
  text-align: center;

  p {
    color: $dark1;

    bold {
      color: white;
    }

    a {
      color: white;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}