@import "styles";

.container {
  z-index: 100;

  position: fixed;
  bottom: 0;
  left: 0;

  background-color: $bg;

  width: 100%;

  border-top: 1px solid $dark1;
  padding: 24px 0 24px 0;

  .containerInner {
    margin: 0 auto;
    max-width: $maxWidth;
  }
}