@import "styles";

.container {
  padding: 16px 0;

  border-bottom: 1px solid $dark1;

  .containerInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    max-width: $maxWidth;
    width: 90%;

    .left,
    .right {
      margin: 0;
      flex-basis: 33.333%;
    }

    .left {
      text-align: left;

      font-family: "Noto Sans JP", sans-serif;
      font-weight: 600;

      color: $green;

      & > p {
        display: inline-block;
        margin: 0;

        cursor: help;
        user-select: none;

        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;

        &::before {
          content: "◼";
          margin-right: 4px;
          display: inline-block;
        }
      }
    }

    .right {
      text-align: right;

      & > svg {
        color: white;
        width: 32px;
        height: 32px;
      }
    }

    .center {
      margin: 0 auto;
      font-size: 1.5rem;
    }
  }
}
